body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(23,25,26);background-color: rgb(23,25,26);
}
.container {
    margin:6vh auto;
    width: 80vmin;
    height: 68vmin;
}
.board {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr); 
    gap: 0px 0px;
    border: 1px solid black;
    }
.board div {
    background-color: rgb(218, 218, 218);
    background-image: url(../img/board.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
#button {
    border: 1px solid black;
    border-radius: 50px;
    background-color: rgba(255,255,255,0.5);
    padding: 0vh 5vh;
    font-size: 5vmin; 
}
#button2 {
    text-align: center;
    border: 1px solid black;
    border-radius: 50px;
    background-color: rgba(255,255,255,0.5);
    padding: 0 4vh;
    font-size: 5vmin;
    text-decoration: none;
    color: black;
}
#button:hover,  #button2:hover { background-color: rgba(199,73,58,0.5); }
.stats {
    display: inline-block;
    background-color: #a6a5c9;
    width: 100%;
    height: 18%;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 1%;
}
#turn {
    float: left;
    font-size: 10vmin;
    margin: 0 2%;
}
#circle {
    float: right;
    height: 10vmin;
    width: 10vmin;
    border: 1px solid black;
    background-color: red;
    border-radius: 50%;
    margin-top: 1%;
    margin-right: 2%;
}