html {
    scroll-behavior: smooth;
    scrollbar-color: #53595C #1D1F20;
  }
  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }
  .Home-Page {
    position: fixed;
    background-image: url("../img/galaxy.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
  .layer {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(255,255,255,0.1));
  }
  #logo {
    display: block;
    margin-top: 12vh;
    margin-left: auto;
    margin-right: auto; 
    height: 30vh;
  }
  .Home-Page-Text { text-align: center; }
  #site-name {
    color: white;
    font-size: 10vh;
    -webkit-text-stroke: 1px black;
  }
  .home-button a{
    display: inline;
    border-style: solid;
    border-radius: 50px;
    background-color: rgba(255,255,255,0.5);
    padding: 1vh 5vh;
    font-size: 5vh;
    text-decoration: none;
    color: black;
  }
  .home-button a:hover { background-color: rgba(199,73,58,0.5); }
  .home-button div { margin: 5vh; }
  .Game-Page {
    text-align: center;
    position: relative;
    background-color: rgb(23,25,26);
    top: 100vh;
    height: 100vh;
    width: auto;
  }
  .Separator-Jeux { height: 10vh; }
  .Separator-Jeux #line {
    position: absolute;
    display: block;
    top: 5vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    border-bottom: 3px solid rgb(163, 51, 39);
  }
  #Jeux {
    position: absolute;
    color: rgb(163, 51, 39);
    font-size: 5vh;
    padding: 0 4vw;
    background-color: rgb(23,25,26);
    top: 6vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .Jeux-Decorator #line-h {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 76vw;
    border-bottom: 2px solid rgb(199,73,58);
  }
  .Jeux-Decorator #line-v {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 76vh;
    border-left: 2px solid rgb(199,73,58);
  }
  #controller-svg {
    position: absolute;
    background-color: rgb(23,25,26);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10vmin;
    padding: 0 7vw;
  }
  .Thumbnails {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 80vh;
  }
  .Thumbnails > div {
    display: flex; 
    flex-basis: calc(50% - 40px);  
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .Thumbnails > div > img, .Thumbnails > div > a >  img {
    width: 25vmin;
    
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .thumbnail img:hover{
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  .thumbnail { margin: 20px; }
  .thumbnail span { 
    margin-top: 1vh;
    color: white;
    font-size: 5vmin;
  }
  .t3, .t4{
    padding-top: 5vh;
  }